:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #999999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
    color: #e50914;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

body {
	background-image: linear-gradient(#00000099, rgba(0, 0, 0, 0.8)), url("../img/books1.jpg");
	height: 100vh;
	background-position: center;
	background-size: cover;
}

.header{
    text-align: center;
    display: inline-flex;
}

.header img{
position: relative;
width: 75px;
text-align: center;
padding-bottom: 10px;
padding-top: 0px;
}

.header p{
font-family: 'Raleway', sans-serif;
font-weight: 700;
text-align: center;
color: var(--primary-color);
font-size: 3rem;
}

.container {
	width: 400px;
	margin: auto;
	padding: 10% 0 0;
}

.input-form {
	position: relative;
	z-index: 1;
	background: #151714;
	margin: 0 auto 100px;
	padding-left: 30px;
	padding-right: 50px;
	padding-top: 5px;
	padding-bottom: 30px;
	max-width: 400px;
	text-align: center;
	border-radius: 10px;
}

.input-form input {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	background: #f2f2f2;
	border: 0;
	border-radius: 5px;
	width: 100%;
	margin: 0 0 10px;
	padding: 10px;
	font-size: 14px;
}

.input-form h1 {    
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	color: white;
	padding-top: 5px;
	padding-bottom: 10px;
	text-align: center;
}

.input-form button {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	outline: 0px;
	border: 0px;
	border-radius: 5px;
	width: 70%;
	padding: 10px;
	background: #f2f2f2;
	cursor: pointer;
	color: #151714;
	text-align: center;
}

.input-form button:hover,
.input-form button:active {
    background: var(--primary-color);
    color: white;
}

.text p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	text-align: center;
	color: #f2f2f2;
}



.input-form .register-form {
	display: none;
}

.checkbox-label {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #f2f2f2;
	display: block;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	margin-bottom: 12px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkbox-label input {
	height: 0;
	width: 0;
	cursor: pointer;
	position: relative;
}

.checkmark {
	height: 25px;
	width: 25px;
	background-color: #f2f2f2;
	top: 0;
	left: 0;
	position: relative;
}

.checkbox-label input:hover ~ .checkmark {
	background-color: var(--primary-color);
}
