:root {
    --primary-color: #e50914;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: #000;
    color: #999999;
}

ul {
    list-style: none;
}

h1, h2, h3, h4 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

img {
    width: 100%;
}

.showcase {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("../img/books1.jpg") no-repeat center center/cover;
}

.showcase::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.50);
    box-shadow: inset 120px 100px 250px #000, inset -120px -100px 250px #000;
}
.showcase-top {
    position: relative;
    height: 90px;
    z-index: 2;
}

.showcase-top img{
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.showcase-top a{
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(-50%, -25%);
}

.showcase-content {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10rem;
    z-index: 2;
}

.showcase-content h1{
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.5;
    margin-bottom: 0 0 2rem;    
}

.showcase-content p{
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0 0 2rem;
}

/* BUTTONS */

.btn{
    display: inline-block;
    background: var(--primary-color);
    color: white;
    padding: 0.4rem 1.4rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.50);
    border-radius: 2px;
}

.btn:hover{
    opacity: 0.8;
}

.btn-rounded{
    border-radius: 5px;
}

.btn-xl{
    font-size: 2rem;
    padding: 1.5rem 2rem;
    text-transform: uppercase;
}

.btn-l{
    font-size: 1rem;
    padding: 1rem 1.5rem;
    text-transform: uppercase;
}